$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #313131,
  secondary:  #6aa0cc,
  light:      #fff,
  dark:       #222,
  icon-color: #949494,
);

$toolbar-md-background: color($colors, primary);
$tabs-md-background: color($colors, light);
$tabs-md-tab-icon-color: color($colors, icon-color);
$tabs-md-tab-icon-color-active: color($colors, primary);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";